html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  left: 0;
  top: 0;
  color: #222;
  line-height: 1.5;
  background: #fff;
  font-family: 'Alegreya', 'Palatino Linotype', 'Book Antiqua', Palatino, 'source-han-serif-sc', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif TC', 'Source Han Serif TW', 'Source Han Serif', 'Songti SC', '仿宋', 'FangSong', 'NSimSun', 'Microsoft YaHei', serif;
}
* { margin: 0; padding: 0;border:none;outline:none; }
h1{font-size:200%;color:#000;}
h2{font-size:180%;color:#111;}
h3{font-size:160%;color:#222;}
h4{font-size:140%;color:#333;}
h5{font-size:120%;color:#444;}
h6{font-size:100%;color:#555;}
hr{border-top:1px dashed #505050;border-bottom:1px dashed #f9f9f9;}
p {
  line-height: 1.75;
  margin: 15px 0;
}
blockquote:before {
    content: "\201C";
    position: absolute;
    left: 0;
    top: 43px;
    font-size: 75px;
    color: #ededed;
}
blockquote {
    position: relative;
    margin: 50px 0;
    font-weight: bold;
    border-top: 1px dashed #cacaca;
    display: block;
    border-bottom: 1px dashed #cacaca;
    padding: 8px 120px;
    text-align: center;
    line-height: 1.6;
    font-size: 110%;
    border-left: none;
    border-right: none;
}
a {
    color: #222;
    text-decoration: none;
}
.container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
header {
    margin: .5em 0;
    border-bottom: 1px solid #eeeeee;
}
.top_header_items_holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 110%;
}
.top_header_items_holder span {
    padding: 0 8px;
}
.main_menu {
    padding: 0 0.2em;
    text-transform: uppercase;
}
.main_menu a {
    color: #dd0000;
    text-decoration: none;
    border-bottom: none;
}
.main_menu a:hover {
    text-decoration: underline;
}
.main_content a, 
.blog_post_meta a {
    border-bottom: 1px solid #dd0000;
}
.blog_post_meta span {
    padding: 0 0.4em;
}
.site_content {
    display: flex;
    flex-direction: column;
}
section {
    border-bottom: 1px solid #eeeeee;
}
article {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.blog_post_meta {
    font-size: 90%;
    color: #333;
}
.post_thumbnail_wrapper .post-thumbnail img {
    width: 267px;
    border-radius: 20px;
}
.post_thumbnail_wrapper {
    padding: 0 15px;
    flex-shrink: 0;
    flex-grow: 1;
}
.post_info_wrapper {
    padding: 0 15px;
    flex-grow: 2;
}
.content {
    margin-bottom: 35px;
    padding-bottom: 35px;
}
.site_content,
.main_content {
    margin: 5% 5%;
}
.meta {
    font-size: 80%;
    text-align: right;
    border-bottom: 1px dashed #aaa;
}
@media only screen and (max-width: 80em) {
    .container {
        width: 90%;
    }
}
@media only screen and (max-width: 60em) {
    .container {
        width: 95%;
    }
    article {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .post_thumbnail_wrapper .post-thumbnail img {
        width: 400px;
    }
}
