<!-- top menu area -->
<div class="top_menu_wrapper">
    <div class="container">
        <div class="top_header_items_holder">
            <div class="main_menu">
                <span><a title="home page" class="active" href="/">home</a></span>
                <span><a title="blog page" class="" href="/blog/">blog</a></span>
                <span><a title="about" class="" href="/about/">about</a></span>
                <span><a title="categories" class="" href="/categories/">categories</a></span>
                <span><a title="links" class="" href="/links/">links</a></span>
            </div>
            <div class="header_icons">
                <a rel="nofollow" target="_blank" href="#" title="Google" class="social_icon_social_google social_icon_facebook">Google</a>
                <a rel="nofollow" target="_blank" href="#" title="Google" class="social_icon_social_google social_icon_facebook">Google</a>
            </div>
        </div>
    </div>
</div>
<!-- top menu area -->
