---
layout: default
---
<div class="main_content">
    <div class="blog_post_title">
        <h1 class="title post_title">
            {{ page.title }}
        </h1>
    </div>
    <div class="blog_post_meta">
        <span class="blog_meta_item blog_meta_category">In <a href="" rel="category tag">Image Posts</a></span>
        <span class="blog_meta_item blog_meta_tag">Tag <a href="" rel="category tag">people</a></span>
        <span class="blog_meta_item blog_meta_date">{{ page.date | date: "%b %-d, %Y" }}</span>
        <span class="blog_meta_item blog_meta_author">{{ page.author }}</span>
    </div>
    <div class="blog_post_text blog_post_description">
        {{ content }}
    </div>
</div>
